body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.task-5 {
    display: flex;
    background-color: #f3f8fb;
    flex: 1 0 auto;
}
.navbar {
    flex: 0 0 300px;
    background-color: #23343f;
    padding: 10px 0;
    color: #fff;
}

.navbar header {
    padding: 10px;
    font-size: 12px;
}

.navbar ul {
    padding-left: 0;
    list-style-type: none;
}

.main-nav {
    font-size: 16px;
}
.main-nav-item {
    border-left: 4px solid transparent;
}
.main-nav-item a {
    text-decoration: none;
    color: #fff;
}
.main-nav-item.active {
    border-left: 4px solid #52b0e6;
    background-color: #1d2b35;
}
.main-nav-item .main-nav-item-link{
    padding: 10px 20px;
    display: block;
    position: relative;
}
.main-nav-item.active .main-nav-item-link {
    background-color: #17222b;
}
.main-nav-item .main-nav-item-link:before {
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    font-size: 12px;
    padding-right: 5px;
}
.main-nav-item-dashboard:before {
    content: '\f015';
}
.main-nav-item-layout:before {
    content: '\f0db';
}
.main-nav-item-navigation:before {
    content: '\f0c9';
}
.main-nav-item-widget:before {
    content: '\f5fd';
}
.has-subnav .main-nav-item-link:after {
    content: '\f105';
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    font-size: 10px;
    position: absolute;
    right: 20px;
    transform: rotate(0);
    transition: transform .4s linear;
}
.has-subnav.active .main-nav-item-link:after {
    transform: rotate(90deg);
}
.subnav {
    display: none;
}
.has-subnav.active .subnav {
    display: block;
}
.subnav-item {
    padding: 10px 20px;
}
.subnav-item:before {
    content: '\f105';
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    padding-right: 5px;
    font-size: 10px;
    position: relative;
    top: -2px;
}
.main-content {
    flex: 1 1 600px;
    padding: 40px 20px 0;
}
.tab-content {
    display: none;
}
.tab-content.active {
    display: block;
}
.page-title {
    position: relative;
    padding-left: 60px;
}
.page-title:before {
    content: '\f015';
    display: inline-block;
    font-weight: 900;
    position: absolute;
    left: 0;
    width: 36px;
    color: #fff;
    font-family: "Font Awesome 5 Free";
    top: 50%;
    transform: translateY(-50%);
    height: 36px;
    background: #42a9ef;
    text-align: center;
    line-height: 36px;
    border-radius: 5px;
}
.page-header {
    font-weight: bold;
}
.cards-container {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0;
}
.card {
    flex: 0 0 300px;
    margin-right: 30px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
}
.card-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.card-header {
    font-weight: bold;
    margin-bottom: 10px;
}
.card-views {
    font-size: 24px;
    color: #42a9ef;
    font-weight: bold;
}
.card-view-details a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #42a9ef;
    color: #fff;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
}
.card-date {
    flex-basis: 100%;
}