table {
	width: 100%;
	border-collapse: collapse;
}
tr:nth-of-type(odd) {
	background: #eee;
}
th {
	background: #333;
	color: white;
	font-weight: bold;
}
td, th {
	padding: 6px;
	border: 1px solid #ccc;
	text-align: left;
}
/* one of several variants, will work even in old IE browsers. We could also use grid or flexboxes there */
@media (max-width: 479px) {
	table, tbody, tr, td, th {
		display: block;
	}
	tr {
		border: 1px solid #ccc;
	}
	td, th {
		border: none;
		padding-left: 50%;
	}
}