body {
    font-family: Roboto, sans-serif;
}
.task-1 {
    margin-top: 40px;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.button-with-tooltip {
    position: relative;
}
.button-with-tooltip .tooltip {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(calc(-100% - 5px));
    padding: 5px 15px;
    box-sizing: border-box;
    background: #d3e4f0;
    border: 1px solid black;
    border-radius: 8px;
    text-align: center;
    display: none;
    font-size: 14px;
}
.button-with-tooltip .tooltip:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 10px;
    display: block;
    width: 0;
    height: 0;
    border-top: 5px solid #d3e4f0;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
}
.button-with-tooltip .tooltip:before {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 9px;
    display: block;
    width: 0;
    height: 0;
    border-top: 6px solid black;
    border-right: 11px solid transparent;
    border-left: 11px solid transparent;
}
.btn {
    position: relative;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 40px;
    outline: none;
    background: #d3e4f0;
    transition: box-shadow 0.2s linear;
    cursor: pointer;
}
.btn:hover {
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.4);
}
.btn-close {
    position: absolute;
    right: 3px;
    top: 0;
    width: 20px;
    height: 20px;
    background-color: #000;
    color: #fff;
    font-size: 24px;
    line-height: 20px;
    cursor: pointer;
}
.btn-title {
    font-weight: bold;
    font-size: 16px;
}
.btn-text {
    font-size: 14px;
}