<h1>Arsenii's tech tasks</h1>

<ul>
	<li><a href="task-1.html">Task #1</a></li>
	<li><a href="task-2.html">Task #2</a></li>
	<li><a href="task-3.html">Task #3</a></li>
	<li><a href="task-4.html">Task #4</a></li>
	<li><a href="task-5.html">Task #5</a></li>
</ul>